.client-stepper {
	display: flex;
	justify-content: center;
	height: 550px;
	padding: 32px;
}

.client-stepper-container {
	display: flex;
	flex-direction: column;
	height: 70vh;
	width: 70% !important;
}

.client-stepper-section {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	flex-direction: column;
	height: 100%;
}

.client-stepper-button-group {
	display: flex;
  justify-content: space-between;
}