.client-stepper {
	display: flex;
	justify-content: center;
	height: 550px;
	padding: 32px;
}

.client-stepper-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 800px !important;
}

.client-stepper-button-group {
	display: flex;
  justify-content: space-between;
}