.orders-table-container {
	border-radius: 32px;
	margin: 32px 0;
	border: 1px solid #b8c4c2;
	border-radius: 1em !important;
}
.orders-table-container .orders-table-body > * {
	cursor: pointer !important;
}